<div id="timer-main" class="container-fluid p-0 main">
    <app-header></app-header>
    <div class="container w-75 m-auto">
        <div class="row d-flex m-2 justify-content-between">
            <div class="my-2 tile border border-light shadow rounded">
                <app-counter></app-counter>
            </div>
            <div class="my-2 tile border border-light shadow rounded">
                <app-buttons></app-buttons>
            </div>
        </div>
        <div class="row d-flex m-2 justify-content-between">
            <div class="my-2 tile border border-light shadow rounded">
                <app-logger></app-logger>
            </div>
            <div class="my-2 tile border border-light shadow rounded">
                <app-timer></app-timer>
            </div>
        </div>
    </div>
</div>